.modal-editar {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.borda-usuario-editar {
    height: 600px;
    width: 350px !important;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    background-color: #fff;
    border-radius: 8px !important;

    padding: 10px !important;

}

.modal-content-cliente-cc {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


}

.titulo-funcionario {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
}


.titulo-funcionario section {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;

}



.titulo-funcionario button {
    width: 35px;
    height: 40px;
    margin-bottom: 10px;

    border: none;
}

.titulo-funcionario section img {
    width: 35px;
    height: 40px;

}

.titulo-funcionario section h1 {
    color: black;
    font-family: Salsa, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;

    margin-bottom: 4px;
}




.input-modal-funcionario {
    width: 100%;
    height: 90%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;

    /* background-color: aqua; */

}

.input-section-funcionario {
    width: 100%;
    height: 30%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    /* background-color: orange; */

}

.input-section-funcionario label {
    color: #344054;
    font-family: Salsa, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    margin-bottom: 4px;
}


.input-section-funcionario input {
    width: 100%;
    height: 35px;

    border-radius: 3px;
    padding-left: 4px;
    border: 0.8px solid rgba(123, 121, 121, 0.652);
}

.input-section-funcionario input:focus {
    border-color: #DA0175 !important;
    outline: none;
}

.cpf-telefone-editar-funcionario {
    width: 100%;
    height: 30%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;


}


.section-usuario-senhas {
    width: 100%;
    height: 30%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}

.cpf-telefone-editar-funcionario label {
    color: #344054;
    font-family: Salsa, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    margin-bottom: 4px;
}


.connect-input-usuario-editar {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    gap: 5px;
}

.title-label-usuario-editar {
    width: 100%;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 14px;
    color: #344054;
    font-family: Salsa, sans-serif;
    font-weight: 600;

}

.connect-input-usuario-editar input {
    width: 100%;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    border: 0.8px solid rgba(123, 121, 121, 0.652);
    border-radius: 3px;

    padding-left: 5px;

}

.button-v {
    align-self: flex-end;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;

}



.bnts-cliente {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    /* background-color: #0E8750; */
}

.bnts-cliente button {
    width: 160px;
    height: 35px;

    border-radius: 5px;
}

.btn-aplicar {
    width: 100%;
    height: 100%;

    border: none;
    background-color: #DA0175;

    color: #F8F8F9;
    font-family: Salsa, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-cancelar {
    width: 100%;
    height: 100%;

    border: 1px solid #145e3ddc;
    border-radius: 10px;

    background-color: white;

    color: #0E8750;
    font-family: Salsa, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}