.register {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2px;
}

.register-main-usuario {
    width: 100%;
    max-height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(to top, rgb(0, 0, 0), rgb(46, 46, 12));
}

.registro-div-usuario {
    width: 95%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    gap: 20px;

    background: lightgray;

    padding: 20px 15px;
    border: 2px solid black;
    border-radius: 5px;

}

.registro-title {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.registro-title h1 {
    font-size: 26px;
    font-family: Salsa, sans-serif;
    font-weight: 600;
    color: black;
}

.registro-informacoes {
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    gap: 10px;
}

.input-informacoes {
    width: 100%;
    height: 20%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    padding: 8px;

    border-radius: 5px;
    background-color: black;

    gap: 5px;
}

.input-informacoes h1 {
    color: #fff;
    font-family: Salsa, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

}

.input-informacoes h2 {
    color: #DA0175;
    font-family: Salsa, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

}

.registro-buttons {
    width: 100%;
    height: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;

}

.registro-buttons button {
    width: 90%;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 2px black;


    font-size: 18px;
    font-family: Salsa, sans-serif;
    font-weight: 600;
    color: #fff;
}

@media screen and (min-width: 720px) {
    .register-main-usuario {
        background: lightgray !important;
    }


    .registro-div-usuario {
        width: 40%;
        height: 70%;

        background: linear-gradient(to top, rgba(0, 0, 0, 0.712), rgba(46, 46, 12, 0.684));
        border-radius: 20px;
        border: 5px solid black;
    }

    .registro-title h1 {
        font-size: 28px;
        font-family: Salsa, sans-serif;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
    }

    .input-informacoes {
        width: 100%;
        height: 22%;

        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        border-radius: 10px;

        background-color: #282627de;
    }


    .registro-buttons {
        width: 100%;
        height: 25%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 45px;

    }

    .registro-buttons button {
        width: 35%;
        height: 45px;

    }
}