.quiz {
    width: 100%;
    height: 63.2vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 1px;

    border-top: 5px solid black;

}

.quiz-div1 {

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


    padding: 10px;

}

.pergunta {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    gap: 10px;
}

.pergunta div {
    width: 90%;
    height: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
    border-radius: 10px;

    background: linear-gradient(to top, rgb(0, 0, 0), rgba(46, 46, 12, 0.934));

    box-shadow: 2px 4px 8px 1px black;
}

.pergunta h1 {
    font-family: Salsa, sans-serif;
    color: black;
}

.pergunta div h1 {

    font-size: 18px;
    font-family: Salsa, sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;

}

.opcoes {
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


    padding: 20px 0;

}

.opcoes ul {
    width: 90%;
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 15px 0;

    border-radius: 5px;

}

.opcoes ul li {
    width: 90%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 4px 8px 1px black;

    font-size: 16px;
    font-family: Salsa, sans-serif;
    color: #235608;
    font-weight: 700;
    text-align: justify;
}

.opcoes ul li:hover {
    scale: 1.03;
    background: linear-gradient(to right, rgb(38, 106, 56), rgb(8, 131, 8));
    color: #fff;
}

.opcoes div {
    width: 90%;
    height: 25%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;

}

.progresso-div {
    width: 93% !important;
    height: 17px !important;

    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;

    background-color: rgba(71, 75, 75, 0.387);
    border-radius: 5px;
    gap: 5px;

}

.opcoes div h1 {

    font-size: 16px;
    font-family: Nunito, sans-serif;
    color: black;
    font-weight: 800;
    text-align: justify;
}

.barra-de-progresso {
    width: 9.6%;
    height: 15px;


    border-radius: 10px;

    background: linear-gradient(to top, rgb(0, 0, 0), rgba(46, 46, 12, 0.934));

    box-shadow: 2px 4px 8px 1px black;

}

.tela-inicial-quiz {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #fff;
    /* background: linear-gradient(to right, rgb(0, 0, 0), #f6b60d); */

    padding: 10px;

}

.tela-inicial-quiz div {
    width: 300px;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 20px;

    border-radius: 15px;


    /* background-color: black; */
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(46, 46, 12, 0.934));
    box-shadow: 2px 4px 4px 1px black;

    color: #f6b60d;
    font-family: Salsa, sans-serif;

}

.tela-inicial-quiz div button {
    width: 100px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 6px;
    background-color: rgb(8, 131, 8);
    /* box-shadow: 2px 2px 4px 1px rgb(245, 243, 243); */
    /* background: linear-gradient(to top, rgb(0, 0, 0), rgb(8, 131, 8)); */

    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: Salsa, sans-serif;
}

.tela-inicial-quiz div h1 {
    font-size: 36px;
    font-family: Salsa, sans-serif;
    font-weight: 600;
    color: #fff;
    ;

    /* background: linear-gradient(to right, rgb(38, 106, 56), rgb(8, 131, 8));
    -webkit-background-clip: text;
    color: transparent; */
}

.tela-inicial-quiz div h2 {
    font-size: 26px;
    font-family: Salsa, sans-serif;
    font-weight: 600;
    color: #fff;

    /* background: linear-gradient(to right, rgb(38, 106, 56), rgb(8, 131, 8));
    -webkit-background-clip: text;
    color: transparent; */

}

.status-desempenho {
    width: 90%;
    height: 120px !important;

    display: flex;
    align-items: center !important;
    justify-content: center !important;

}

.status-desempenho h1 {
    font-size: 30px !important;
    font-family: Salsa, sans-seri !important;
    font-weight: 600;

}

@media screen and (min-width: 720px) {
    .quiz {
        width: 100%;
        height: 65.03vh;
    }

    .tela-inicial-quiz div {
        width: 450px;
        height: 60%;
    }

    .tela-inicial-quiz div button {
        width: 150px;
        height: 45px;
    }

    .tela-inicial-quiz div h1 {
        font-size: 46px;
    }

    .tela-inicial-quiz div h2 {
        font-size: 32px;
    }

    .quiz-div1 {
        width: 40%;
        height: 95%;
    }

    .pergunta div h1 {
        font-size: 22px;
        text-transform: uppercase;
    }

    .opcoes {
        width: 100%;
        height: 70%;
    }

    .opcoes ul {
        width: 90%;
        height: 100%;

        gap: 15px;
        border-radius: 15px;

        padding-top: 40px !important;
        padding-bottom: 40px !important;

        background-color: lightgray;
    }

    .opcoes ul li {
        width: 95%;
        height: 40px;

        font-size: 20px;
    }

}