.quiz {
    width: 100%;
    height: 62.7vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;


    padding-top: 20px;

}

.quiz-div1 {

    width: 95%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    border-radius: 7px;
    background-color: lightgray;

    padding: 10px;

}

.pergunta {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    gap: 10px;
}

.pergunta div {
    width: 90%;
    height: 45%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 20px;
    border-radius: 10px;

    background: linear-gradient(to top, rgb(0, 0, 0), rgb(8, 131, 8));

    box-shadow: 2px 4px 8px 1px black;
}

.pergunta h1 {
    color: black;
}

.pergunta div h1 {

    font-size: 18px;
    font-family: Nunito, sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;

}

.opcoes {
    width: 100%;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


    padding: 20px 0;

}

.opcoes ul {
    width: 90%;
    height: 75%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    padding: 15px 0;

    border-radius: 5px;

}

.opcoes ul li {
    width: 90%;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 4px 8px 1px black;

    font-size: 16px;
    font-family: Nunito, sans-serif;
    color: #235608;
    font-weight: 700;
    text-align: justify;
}

.opcoes ul li:hover {
    scale: 1.06;
    background-color: blue;
    color: #fff;
}

.opcoes div {
    width: 95%;
    height: 25%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;

}

.progresso-div {
    width: 95%;
    height: 25px;

    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;

    background-color: rgb(71, 75, 75);
    border-radius: 10px;
    gap: 5px;

}

.opcoes div h1 {

    font-size: 16px;
    font-family: Nunito, sans-serif;
    color: black;
    font-weight: 800;
    text-align: justify;
}

.barra-de-progresso {
    width: 9.6%;
    height: 15px;


    border-radius: 10px;

    background: linear-gradient(to top, rgb(33, 116, 35), rgb(27, 225, 27));

    box-shadow: 2px 4px 8px 1px black;

}

.tela-inicial-quiz {
    width: 95%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    border-radius: 7px;
    background-color: lightgray;

    padding: 10px;

}

.tela-inicial-quiz div {
    width: 250px;
    height: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 20px;

    border-radius: 15px;

    background-color: black;

    /* background: linear-gradient(to top, rgba(0, 0, 0, 0.57), rgba(46, 46, 12, 0.507)); */
    box-shadow: 2px 4px 4px 1px black;

    color: #fff;
    font-family: Salsa, sans-serif;

}

.tela-inicial-quiz div button {
    width: 100px;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 4px 1px rgb(245, 243, 243);
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(8, 131, 8));

    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: Salsa, sans-serif;
}

.tela-inicial-quiz div h1 {
    font-size: 36px;
    font-family: Salsa, sans-serif;
    font-weight: 600;

    background: linear-gradient(to right, rgb(38, 106, 56), rgb(8, 131, 8));
    -webkit-background-clip: text;
    color: transparent;
}

.tela-inicial-quiz div h2 {
    font-size: 26px;
    font-family: Salsa, sans-serif;
    font-weight: 600;

    background: linear-gradient(to right, rgb(38, 106, 56), rgb(8, 131, 8));
    -webkit-background-clip: text;
    color: transparent;

}

.status-desempenho {
    width: 90%;
    height: 120px !important;

    display: flex;
    align-items: center !important;
    justify-content: center !important;

}

.status-desempenho h1 {
    font-size: 30px !important;
    font-family: Salsa, sans-seri !important;
    font-weight: 600;

}