.page-home {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2px;

}

.page-home-main {
    width: 100%;
    max-height: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    background: linear-gradient(to top, rgb(0, 0, 0), rgb(46, 46, 12));


}

.page-home-nav {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.page-home-nav h1 {
    color: #fff;
    font-family: Salsa, sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.page-home-input {
    width: 300px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


}

.page-home-input input {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: black;
    font-size: 16px;
    font-weight: 600;

    border: 1px solid rgba(38, 34, 34, 0.867);
    border-radius: 8px;

    padding-left: 5px;

}

.page-home-input input::placeholder {
    font-size: 14px;
    color: black;
    font-family: Nunito, sans-serif;
    font-weight: 600;

    color: gray;
    font-size: 16px;
    font-weight: 600;

    padding-left: 5px;
}

.page-home-input input:focus {
    border: 2px solid;
    border-color: green;
    outline: none;
}

.page-home-input-search {
    width: 32px;
    height: 32px;

    align-self: flex-end;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;

    background-color: #ffffff00;
}

.section-lista {
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    padding: 10px 15px;
    border: 1px solid rgba(38, 34, 34, 0.867);

}

.page-home-lista-title {
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 1px solid gray;
    border-bottom: 0px;

    border-radius: 5px 5px 0 0;

    background-color: #fff;
    padding: 0 3px;
}

.page-home-lista-title h1 {
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    font-family: Salsa, sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.page-home-lista-title ul {
    width: 100%;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}



.page-home-lista {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    gap: 2px;

    border-radius: 0 0 5px 5px;

    background-color: azure;

    border: 1px solid gray;
    border-top: 0px;
    padding: 0 3px;

}

.page-home-lista::-webkit-scrollbar {
    display: none;
}

.page-home-lista-div {
    width: 100%;
    height: 35px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;

}

.page-home-lista-div ul {
    width: 70%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.li-lista-left {
    width: 35%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #282627de;
    font-size: 16px;
    font-family: Salsa, sans-serif;
    font-weight: 600px;
    color: #fff;
    cursor: pointer;

    padding-left: 6px;

}

.li-lista-left:hover {
    color: rgb(28, 205, 221);
    text-decoration: underline;
}

.li-lista-left-title {
    width: 29%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: rgba(0, 0, 0, 0.902);
    font-size: 16px;
    font-family: Salsa, sans-serif;
    font-weight: 600px;
    color: #fff;

    padding-left: 6px;

}

.li-lista-rigth {
    width: 65%;
    height: 100%;

    padding-top: 7px;

    display: inline-block;

    background-color: #282627de;
    font-size: 16px;
    font-family: Salsa, sans-serif;
    font-weight: 600px;
    color: #fff;

    white-space: nowrap;
    /* Impede que o texto quebre em várias linhas */
    overflow: hidden;
    /* Oculta o texto que não cabe no contêiner */
    text-overflow: ellipsis !important;
}

.li-lista-button {
    width: 15%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid gray; */

    background-color: #282627de;
    font-size: 16px;
    font-family: Salsa, sans-serif;
    font-weight: 600px;

}

.li-lista-rigth-title {
    width: 53%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: rgba(0, 0, 0, 0.902);
    font-size: 16px;
    font-family: Salsa, sans-serif;
    font-weight: 600px;
    color: #fff;
}

.li-lista-rigth-opcoes {
    width: 18%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.902);
    font-size: 16px;
    font-family: Salsa, sans-serif;
    font-weight: 600px;
    color: #fff;
}

.page-home-button {
    width: 100%;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.page-home-button button {
    width: 200px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #da0175de;
    border: none;
    border-radius: 5px;

    font-size: 22px;
    font-family: Salsa, sans-serif;
    font-weight: 600px;
    color: #fff;
}

@media screen and (min-width: 720px) {
    .page-home-main {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.298), rgba(238, 238, 234, 0.241));
    }

    .page-home-input {
        width: 550px;
        height: 60px;
    }

    .page-home-input input {
        width: 100%;
        height: 50px;
    }


    .page-home-nav h1 {
        color: black;
        font-size: 34px;

        margin-top: 15px;
    }

    .section-lista {
        width: 65%;
        height: 60%;
        border: none;
        border-radius: 25px;
    }

    .page-home-lista-title {
        width: 100%;
        height: 20%;

        border-radius: 25px 25px 0 0;
        padding: 0px 20px;

        background: linear-gradient(to top, rgba(0, 0, 0, 0.712), rgba(46, 46, 12, 0.684));
    }

    .page-home-lista-title ul {
        width: 100%;
        height: 30%;

        gap: 4px;
    }

    .page-home-lista {
        width: 100%;
        height: 80%;

        border-radius: 0 0 25px 25px;

        padding: 0px 20px;

        background: linear-gradient(to top, rgba(0, 0, 0, 0.712), rgba(46, 46, 12, 0.684));
    }


    .page-home-lista-div {
        width: 100%;
        height: 45px;

        gap: 8px;
    }

    .page-home-lista-div ul {
        width: 89%;
        height: 100%;

        gap: 8px;
    }

    .li-lista-left-title {
        width: 7%;
        height: 100%;
    }

    .li-lista-left {
        width: 8%;
        height: 100%;

        font-size: 22px;
    }

    .li-lista-rigth-title {
        width: 80%;
        height: 100%;
    }

    .li-lista-rigth {
        width: 92%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-size: 22px;
    }

    .li-lista-rigth-opcoes {
        width: 8%;
        height: 100%;
    }

    .li-lista-button {
        width: 8%;
        height: 100%;

    }
}